* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.admin-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 10px;
  color: rgb(116, 112, 112);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.form input,
select {
  width: 100%;
  margin-top: 10px;
  height: 3rem;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.file {
  width: 100%;
  height: 2rem;
  border: 1px solid gray;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
}
#file {
  border: 1px solid red;
  padding: 70px 0;
  cursor: pointer;
  opacity: 0;
}
.file img {
  position: absolute;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
  width: 35px;
}

.submit-btn {
  width: 100%;
  height: 3rem;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: #19b219;
  color: white;
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.flash-message {
  padding: 10px;
  background-color: green;
  /* display: inline; */
  position: absolute;
  color: white;
  border: none;
  top: 55px;
  right: 8px;
  border-radius: 4px;
}
