* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: white;
}
.cart-number{
  top: -11px;
}
.p-d-p-container {
  margin-top: 6rem;
  padding: 5px 10px;
  display: flex;
  align-items: start;
  gap: 2px;
}

.left {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.product-image img {
  height: 80vh;
}

.right {
  width: 36%;
  padding-left: 15px;
  line-height: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.p-d-p-d {
  font-size: 20px;
}

.p-d-p-p {
  font-size: 30px;
  margin-top: 1rem;
}

.size {
  margin-top: 2rem;
  padding: 5px 0;
  border-top: 1px solid rgb(175, 174, 174);
  border-bottom: 1px solid gray;
  padding: 10px 0;
  line-height: 3rem;
}

.size-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.size-box div {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  cursor: pointer;
}

.add-cart-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.add-cart-btn button {
  width: 22rem;
  height: 3rem;
  background-color: red;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  font-size: 23px;
  cursor: pointer;
}
