* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #dadada;
}
.cart-number{
  top: -11px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9ecef;
  position: fixed;
  width: 100%;
  padding: 5px 10px 5px 10px;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 14px 22px;
}

.logo h2 {
  font-family: "Courier New", Courier, monospace;
}

.navigation-links {
  align-self: self-end;
  margin-right: 66px;
  padding: 4px;
}

.navigation-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.search-bar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar input {
  width: 90%;
  padding: 13px;
  border: none;
  font-size: 13px;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.search-bar span {
  width: 5%;
  color: white;
  background-color: white;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* main section starts from here */
main {
  display: flex;
  margin-top: 5rem;
}
aside {
  width: 24%;
  height: 100vh;
}

.container {
  width: 76%;
  height: 100vh;
  overflow: scroll;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.c-image img {
  height: 308px;
}
.container article{
    cursor: pointer;
}

.container article p {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  cursor: pointer;
}
.container article p:hover{
    text-decoration: underline;
}

.price{
    margin-bottom: 1rem;
}

.no-items{
  font-size: 40px;
  margin-left: 31%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}